body * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  background-color: white;
  border: 1px solid black;
  width: 402px;
}

h2 {
  background-color: whitesmoke;
  width: 400px;
  padding: 20px;
  margin-bottom: 0;
}

img {
  background-color: white;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  background-color: whitesmoke;
  width: 400px;
  padding: 20px;
  margin-top: 0;
}

button {
  margin-top: 20px;
  margin-bottom: 10px;
}

.title {
  margin-bottom: 0;
  margin-top: 0;
}

.pic {
  margin-bottom: 0;
}

.words {
  margin-top: 0;
  margin-bottom: 0;
}

/*
Add some style blocks below this line to style the card.
*/
